body
{
  margin: 0;
  padding: 0;
  background: #f5f5f5;
  color: #c4c4c4;
  font-family: 'Crimson Text', serif;
}


a
{
  text-decoration: none;
  color: cadetblue;

  transition: color 0.3s ease;
}

a:hover
{
  color: cadetblue;
}




h1, h3 {
text-align: center;
}

h1 {
font-family: 'Lora', serif;
font-size: 3em;
letter-spacing: 3px;
}

h2 {
  font-size: 1.5em;
  color: #cfbda5
}

h3 {
  font-size: 1.25em;
  color: #cfbda5
}

p.lead {
  font-size: 1.25em;
}

p {
  font-size: 1.25em;
}

img#cv {
display: flex;
justify-content: center;
padding: 20px;
margin: 0 auto;
}

.social-media-buttons {
  display: flex;
  font-size: large;
  justify-content: center;
  margin: 0 auto;
}

.fa-pinterest {
  padding: 30px;
}

.fa-instagram {
  padding: 30px;
}

.fa-linkedin {
  padding: 30px;
}

/*Styling the top navigation bar*/
.navbar {
  display: flex;
  background-color: lightgray;
  font-size: 1.2em;
}

/*Styling the navbar links (my buttons)*/
.navbar a{
	display: block;
	text-align: center;
	padding: 3px 3px;
	text-decoration: none;
}

/*Change colour of link on hover in navbar*/
.navbar a:hover{
  color: inherit;
	background-color: #ddd;
}



a.home {
  text-align: left;
  font-size: 1.5em;
}

a.download {
  position: relative;
  float: right;
  right: 30px;
  font-size: 1.5em;
}


a.feature {
  color: #c4c4c4;
}


a.feature:hover
{
  color: cadetblue;
}



#go-top-button {
  width: 50px;
  height: 50px;
  background-color: inherit;
  color: cadetblue;
  display: none;  /* Hidden by default */
  position: fixed;  /* Fixed/sticky position */
  bottom: 20px;  /* Place the button 20px from the bottom of the page */
  right: 30px;  /* Place the button 30px from the right */
  z-index: 99;  /* Make sure it does not overlap */
  border-radius: 50%;  /* makes it round (circle if width and height are the same) */
  border-color: lightgray;
}



/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: cadetblue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #cfbda5;
}

/* Add a background color and some padding around the form */
.contactcontainer {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;

}
